**/__pycache__/
**/.pytest_cache/
.ruff_cache/
_examples/
dist/
docs/build/
docs/jupyter_execute/
docs/source/api/
jupyter_execute/
src/minim.egg-info
.coverage
tests/data/previews/spektrem_shine.mp3
tests/data/previews/tobu_back_to_you_copy.flac