# CORE DEPENDENCIES
cryptography
mutagen
requests

# OPTIONAL DEPENDENCIES
flask
levenshtein
numpy
pytest-playwright

# DEVELOPMENT DEPENDENCIES
coverage
pytest
ruff

# DOCUMENTATION DEPENDENCIES
furo
ipywidgets
jupyterlab
myst-nb
numpydoc
sphinx
sphinx-copybutton
sphinx-togglebutton