# CORE DEPENDENCIES
levenshtein
mutagen
numpy
pycryptodome
requests

# OPTIONAL DEPENDENCIES
flask
playwright

# DOCUMENTATION DEPENDENCIES
furo
ipywidgets
jupyterlab
myst-nb
numpydoc
sphinx
sphinx-copybutton
sphinx-togglebutton