:root {
    --entitlement-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWxvY2staWNvbiBsdWNpZGUtbG9jayI+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjExIiB4PSIzIiB5PSIxMSIgcng9IjIiIHJ5PSIyIi8+PHBhdGggZD0iTTcgMTFWN2E1IDUgMCAwIDEgMTAgMHY0Ii8+PC9zdmc+');
    --response-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWJyYWNlcy1pY29uIGx1Y2lkZS1icmFjZXMiPjxwYXRoIGQ9Ik04IDNIN2EyIDIgMCAwIDAtMiAydjVhMiAyIDAgMCAxLTIgMiAyIDIgMCAwIDEgMiAydjVjMCAxLjEuOSAyIDIgMmgxIi8+PHBhdGggZD0iTTE2IDIxaDFhMiAyIDAgMCAwIDItMnYtNWMwLTEuMS45LTIgMi0yYTIgMiAwIDAgMS0yLTJWNWEyIDIgMCAwIDAtMi0yaC0xIi8+PC9zdmc+')
}

.admonition.entitlement {
    --icon-url: var(--entitlement-icon);
    --color-1: var(--teal-surface);
    --color-2: var(--teal-a3);
    --color-3: var(--teal-9);
    --color-4: var(--teal-a11);
}

.admonition.response {
    --icon-url: var(--response-icon);
    --color-1: var(--iris-surface);
    --color-2: var(--iris-a3);
    --color-3: var(--iris-9);
    --color-4: var(--iris-a11);
}

.admonition .sd-tab-set>input:checked+label {
    border-color: var(--color-4);
    color: var(--color-4);
}

.admonition .sd-tab-set>input:not(:checked)+label:hover {
    border-color: var(--color-3);
    color: var(--color-3);
}

.sd-tab-set>label {
    padding-top: 0.25rem !important;
}

.sd-tab-content {
    padding-top: 1.00rem !important;
}