:root {
    --entitlement-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12 2C9.238 2 7 4.238 7 7v3h-.4c-.88 0-1.6.72-1.6 1.6v7C5 19.92 6.08 21 7.4 21h9.2c1.32 0 2.4-1.08 2.4-2.4v-7c0-.88-.72-1.6-1.6-1.6H17V7c0-2.762-2.238-5-5-5Zm3 8V7c0-1.658-1.342-3-3-3S9 5.342 9 7v3h6Z" clip-rule="evenodd"/></svg>');
}

.admonition.entitlement {
    --icon-url: var(--entitlement-icon);
    --color-1: oklch(67.5% 0.188 12.5 / 0.05);
    --color-2: oklch(67.5% 0.188 12.5 / 0.1);
    --color-3: oklch(67.5% 0.188 12.5);
    --color-4: oklch(55% 0.188 12.5 / 0.9);
}

.admonition .sd-tab-set>input:checked+label {
    border-color: var(--color-3);
    color: var(--color-3);
}

.admonition .sd-tab-set>input:not(:checked)+label:hover {
    border-color: var(--color-3);
    color: var(--color-3);
}

.sd-tab-set>label {
    padding-top: 0.25rem !important;
}

.sd-tab-content {
    padding-top: 1.00rem !important;
}