:root {
    --entitlement-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtbG9jay1pY29uIGx1Y2lkZS1sb2NrIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxMSIgeD0iMyIgeT0iMTEiIHJ4PSIyIi8+PHBhdGggZD0iTTcgMTFWN2E1IDUgMCAwIDEgMTAgMHY0Ii8+PC9zdmc+');
    --response-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtYnJhY2VzLWljb24gbHVjaWRlLWJyYWNlcyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOCAzSDdhMiAyIDAgMCAwLTIgMnY1YTIgMiAwIDAgMS0yIDIgMiAyIDAgMCAxIDIgMnY1YzAgMS4xLjkgMiAyIDJoMU0xNiAyMWgxYTIgMiAwIDAgMCAyLTJ2LTVjMC0xLjEuOS0yIDItMmEyIDIgMCAwIDEtMi0yVjVhMiAyIDAgMCAwLTItMmgtMSIvPjwvc3ZnPg==');
}

.admonition.entitlement {
    --icon-url: var(--entitlement-icon);
    --color-1: var(--teal-surface);
    --color-2: var(--teal-a3);
    --color-3: var(--teal-9);
    --color-4: var(--teal-a11);
}

.admonition.response {
    --icon-url: var(--response-icon);
    --color-1: var(--iris-surface);
    --color-2: var(--iris-a3);
    --color-3: var(--iris-9);
    --color-4: var(--iris-a11);
}

.admonition.dropdown {
    contain: layout;
}

.admonition .sd-tab-set>input:checked+label {
    border-color: var(--color-4);
    color: var(--color-4);
}

.admonition .sd-tab-set>input:not(:checked)+label:hover {
    border-color: var(--color-3);
    color: var(--color-3);
}

.sd-tab-set>label {
    padding-top: 0.25rem !important;
}

.sd-tab-content {
    padding-top: 1.00rem !important;
}